<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello world</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-[#161a29]">
    <main class=''>
        <div class="h-screen w-screen flex flex-col items-center justify-center text-white">
          <a  href=<%= api_url %> class='flex select-none border border-[#5254674b] justify-center items-center bg-[#23272a97] hover:bg-[#23272a] transition py-3 px-5 rounded'>
            <img class='w-6 invert flex justify-center items-center' src='/assets/42_Logo.svg.png'/>
            <div class='flex px-1'></div>
            <div class='font-semibold'>Continue with Intra</div>
          </a>
        </div>
      </main>
</body>
</html>